{% extends 'blog/base.html' %}


{% block title %}
    {{ profile.user.username }}'s profile
{% endblock title %}


{% block content %}
    <h4>
        {{profile.user.username}} subscribed to:
    </h4>
    <form method="post">
        {% csrf_token %}
        <div>
            <button name="follow" value="follow">Follow</button>
            <button name="follow" value="unfollow">Unfollow</button>
        </div>
    </form>
    <ul>
    {% for profile in profile.follows.all %}
        <li>
            <a href="{% url 'userprofile' profile.id %}">
                {{ profile.user.username }}
            </a>
        </li>
    {% endfor %}
    </ul>
{% endblock content %}
    